.form-label {
    width: 100%;
}

.up {
    margin-top: 5% !important;
}

fieldset {
    width: 100%;
}

@media(max-width:1024px) {
    .number-mbl {
        padding-right: 17px;
        font-size: 17px;
        color: #fe235b;
    }
}

.overlay input {
    border: 1px solid #fff;
    margin-bottom: 0px;
    padding: 2px 10px;
    border-radius: 4px;
    outline: none;
}

.overlay .submitBtn {
    border-radius: 4px;
    border: none;
    margin-left: 7px;
    background: #0704b4;
    color: #fff;
    font-weight: 700;
}

#form1 {
    display: -webkit-inline-box;
}

.helpme {
    background: #ff6c00;
    color: #fff;
    z-index: 9999;
    padding: 2px 0;
}

@media (max-width: 1024px) {
    .logo1 {
        width: 128px;
        max-width: 150%;
    }
    .overlay .submitBtn {
        width: 80px;
    }
    .overlay input {
        width: 110px;
    }
}

.head-outer {
    text-align: left !important;
}

@media only screen and (max-width: 767px) {
    .nav-bar .navigation {
        width: 100%;
        display: none;
    }
}

.add {
    top: 0 !important;
    margin-left: 85%;
}

.css {
    top: -65px;
    margin-left: -30px;
}

/* .close2 {
    background: white!important;
    top: 2px!important;
    right: 2px!important;
    color: black!important;
    font-size: 13px!important;
    width: 27px!important;
    height: 27px!important;
    padding-top: 4px;
    margin-right: 20px;
} */

.button-50 .active {
    background: #ff5000;
}

.cll {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .cll {
        display: block;
    }
    social-network-box .fa {
        font-size: xx-large;
    }
}