.head-outer {
    padding: 0 25px;
    top: 4%;
}

.main-site {
    margin-top: -50px;
}
input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tbody, tfoot, th, thead, time, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

* {
    outline: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700
}

em, i {
    font-style: italic
}
textarea {
    overflow: auto
}

a {
    color: #333;
    text-decoration: none
}
p {
    font-size: 12px;
    line-height: 18px
}

img {
    /* max-width: 100%; */
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444
}

.navigation {
    width: 100%;
    float: left;
    padding-top: 14px
}
.nav-bar {
    width: 70%;
    float: left;
    position: relative;
    padding-top: 0;
    text-align: center
}
.nav-bar li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    padding-bottom: 15px
}

.nav-bar .navigation li a {
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    background: #4e3224;
    display: block;
    line-height: 20px;
    padding: 8px 12px;
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
    -ms-transition: all ease-in .4s;
    -o-transition: all ease-in .4s;
    transition: all ease-in .4s
}
.nav-bar .navigation ul ul.sub-menu {
    min-width: 250px;
    background: #fff;
    padding: 5px 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 50%;
    right: auto;
    top: 100%;
    bottom: auto;
    box-shadow: -1px 4px 6px 3px rgba(0, 0, 0, .3);
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: left;
    float: none;
    z-index: 9;
    display: none;
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
    -ms-transition: all ease-in .4s;
    -o-transition: all ease-in .4s;
    transition: all ease-in .4s
}
.head-outer {
    height: auto;
    float: left;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 11
}
.iframe-footer {
    background: #ff8001;
    padding: 10px;
    color: #fff;
    margin-top: -2px
}

.youtube-imgbox .iframe-footer {
    margin-top: -4px
}

.iframe-footer .video-time {
    float: right
}
.enquiry-formbox .form-inbox li select.select, input {
    width: 100%;
    height: 34px;
    line-height: 36px;
    position: relative
}
::-webkit-input-placeholder {
    color: #595959
}

.box {
    max-width: 1170px;
    margin: 0 auto
}
.form-overlay {
    background: rgba(79, 51, 37, .9);
    position: fixed;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 101%;
    z-index: 111111;
    transform: translate(-50%, -50%);
    -webit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none
}
.head-top-menu ul li, .header-bottom .info-box li, .nav-bar li {
    font-size: 13px
}
body {
    overflow-x: hidden
}
.full-footer {
    width: 100%;
    float: left;
    background: url(../images/bg_footer_teeth.png) repeat left top;
    position: relative
}
.full-footer .full-footer-in {
    width: 100%;
    float: left
}

.full-footer .full-footer-in .links-box {
    width: 100%;
    float: left
}

.full-footer .full-footer-in .links-box .links-comman-box {
    width: 20%;
    float: left
}

.full-footer .full-footer-in .call-list-box h4, .full-footer .full-footer-in .links-box .links-comman-box h4 {
    font-size: 16px;
    color: #f86c04;
    font-weight: 600;
    margin-bottom: 25px
}

.full-footer .full-footer-in .links-box .links-comman-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.full-footer .full-footer-in .links-box .links-comman-box ul li {
    font-size: 14px;
    color: #ceb3a0;
    padding: 5px 10px;
    position: relative
}

.full-footer .full-footer-in .links-box .links-comman-box ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 5px;
    height: 9px
}
.full-footer .full-footer-in .links-box .links-comman-box ul li a {
    color: #ceb3a0
}

.full-footer .full-footer-in .links-box .links-comman-box ul li a:hover {
    color: #f5e1d2
}

.full-footer .full-footer-in .links-box .links-comman-box ul li span {
    margin-right: 10px
}
.social-network-box {
    float: left
}

.social-network-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.social-network-box ul li {
    float: left;
    padding-right: 28px
}

.social-network-box ul li a {
    font-size: 26px;
    color: #9e806a
}

.social-network-box ul li a:hover {
    color: #fff
}

.footer-bottom-box {
    width: 100%;
    float: left;
    background: url(../images/footer-onepxline.jpg) left top repeat-x;
    margin-top: 30px;
    padding: 15px 0
}

.footer-bottom-box p {
    float: left;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: #ad9184;
    font-family: Raleway, sans-serif;
    font-weight: 400
}

.footer-bottom-box p span {
    color: #f86c04
}
body.header-home .head-outer {
    padding: 0 25px;
    top: 4%
}
.header-main {
    background: white;
    width: 100%;
    float: left;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 7px
}

.header-main .logo-box {
    background: white;
    width: 148px;
    min-height: 72px;
    line-height: 72px;
    float: left;
    text-align: center;
    position: relative
}

.header-main .logo-box .logo-mbl {
    display: none
}

.header-main .logo-box a {
    /* display: inline-block */
}

.header-main .toggle-icon {
    font-size: 28px;
    color: #fe235b;
    float: left;
    padding: 7px;
    margin: 14px 15px 1px 15px;
    cursor: pointer
}

.header-main .toggle-icon:hover {
    color: #f5781d
}

.nav-bar {
    width: 65%;
    float: none;
    display: inline-block;
    text-align: center;
    padding-top: 20px
}

.nav-bar .navigation {
    width: auto;
    padding-top: 0;
    display: inline-block;
    float: none
}

.nav-bar .navigation li {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    position: relative;
    margin: 0 8px
}

.nav-bar .navigation li:after {
    content: '';
    background: #ddd;
    width: 2px;
    height: 17px;
    position: absolute;
    right: -10px;
    top: 7px
}

.nav-bar .navigation li a {
    background: 0 0;
    color: #4a4a4a;
    padding: 5px 0
}

.nav-bar .navigation ul li a:hover, .nav-bar .navigation ul li:hover a {
    background: 0 0;
    color: #f5781d
}

.nav-bar .navigation ul ul.sub-menu {
    top: 52px
}
.call-back {
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 20px;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase
}
.header-main .book-btn {
    background: #0704b4;
    ; width: 165px;
    float: right;
    margin: 13px 20px 1px 0;
    text-align: left;
    display: inline-block;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.header-main .book-btn i {
    background: #fe235b;
    width: 45px;
    height: 45px;
    line-height: 45px;
    float: left;
    font-size: 18px;
    color: #fff;
    text-align: center
}

.header-main .book-btn samp {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    padding: 5px 0 0 9px
}

.header-main .book-btn span {
    font-size: 14px;
    display: block
}

.number-mbl {
    float: right;
    position: relative;
    display: none
}

.side-menu {
    background: white;
    width: 365px;
    height: 100%;
    position: fixed;
    left: -370px;
    top: 0;
    padding-top: 25px;
    font-family: Raleway, sans-serif;
    z-index: 99992
}

.logo-side-menu {
    width: 100%;
    float: left;
    text-align: center;
    padding: 8px 0 20px;
    position: relative;
    z-index: 2
}

.side-menu .side-menu-close {
    width: 27px;
    height: 24px;
    line-height: 20px;
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 16px;
    color: #f5781d;
    font-weight: 300;
    border: 2px solid #f5781d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 3
}

.side-menu .side-menu-close i {
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.side-menu .side-menu-close:hover {
    color: black;
    border: 2px solid black
}

.side-menu .side-menu-scroll {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 120px;
    z-index: 1
}

.side-menu .menu-scroll-in {
    width: 100%;
    height: 100%;
    padding: 0 35px;
    float: left;
    overflow: hidden;
    overflow-y: auto
}

.side-menu .common {
    width: 100%;
    float: left;
    padding-bottom: 13px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #f5781d
}

.side-menu .common h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(19, 18, 18);
    padding-bottom: 10px
}

.side-menu .common.links li {
    width: 100%;
    float: left;
    margin: 7px 0
}

.side-menu .common.links li a {
    font-size: 13px;
    line-height: 32px;
    font-weight: 300;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    display: inline-block
}

.side-menu .common.links li span {
    min-width: 50px;
    display: inline-block
}

.side-menu .common.follow {
    margin-bottom: 0
}

.side-menu .common.follow h3 {
    padding-bottom: 20px
}

.side-menu .common.follow li {
    float: left;
    margin: 0 16px 8px
}

.side-menu .common.follow li:first-child {
    margin-left: 0
}

.side-menu .common.follow li a {
    font-size: 26px;
    color: #f5781d
}

.side-menu .common.follow li a:hover {
    color: #9e806a
}

.transparent-bg {
    content: '';
    background: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    display: none
}

.mobile-nav {
    width: 100%;
    float: left;
    display: none
}

.call-back, .footer-bottom-box p a, .full-footer .full-footer-in .call-list-box ul li a, .full-footer .full-footer-in .links-box .links-comman-box ul li a, .head-gray li a, .head-outer, .header-main .book-btn, .header-main .book-btn i, .header-main .toggle-icon, .home-midwarp .presence-box li a, .number-mbl li a, .side-menu, .side-menu .common.follow li a, .side-menu .common.links li a, .side-menu .common.phone li a, .side-menu .common.phone li a i, .side-menu .side-menu-close, .side-menu-scroll, .social-network-box ul li a, .testimonial .slides li .row h5 a {
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
    -ms-transition: all ease-in .4s;
    -o-transition: all ease-in .4s;
    transition: all ease-in .4s
}
@media only screen and (min-width: 1366px) and (max-width:1599px) {
.nav-bar li {
    font-size: 14px;
    margin: 0 2px
}

.nav-bar {
    width: 67%
}

.head-top-menu ul li, .header-bottom .info-box li, .nav-bar li {
    font-size: 13px
}

.full-footer .full-footer-in {
    padding-top: 0
}
}


@media only screen and (max-width: 767px) {
    .figure-box li .icon-box img {
        width: 35px;
        height: 35px
    }

    .xdsoft_datetimepicker .xdsoft_datepicker {
        width: 78%!important
    }

    .clinic-search {
        width: 100%!important;
        margin: 0 auto;
        padding: 0 45px 0 34px!important
    }

    .open-location, .open-location form {
        width: 100%;
        float: left;
        text-align: center
    }

    .open-location lable {
        float: none;
        display: inline-block;
        line-height: 30px
    }

    .open-location .select-box2 {
        display: inline-block;
        float: none
    }

    .open-location .select-box2 .select {
        position: initial;
        width: 180px;
        font-size: 20px;
        float: none
    }

    .offers-content-wrap.dental-hlt {
        margin-bottom: 20px
    }

    .price-table .box {
        padding: 0 10px
    }

    .price-table td, .price-table th {
        padding: 16px 10px 16px 10px
    }

    .price-table {
        font-size: 14px;
        margin-bottom: 30px
    }

    .price-table td, .price-table th {
        width: 40%
    }

    .price-table td:first-child, .price-table th:first-child {
        width: 60%
    }

    .price-table th {
        font-size: 14px
    }

    .rent-property .full-row {
        width: 100%
    }
}


@media only screen and (max-width: 767px) {

    a[href^=tel] {
        color: inherit;
        text-decoration: none
    }

    .hygiene {
        padding: 0 15px
    }
    body.header-home .head-outer,
    body.header-home .head-outer.sticky {
        padding: 0;
        top: 0;
    }
    .head-gray, .header-main .logo-box, .number-mbl {
        z-index: 15;
    }
    .header-main .logo-box {
        padding-top: 3px;
    }
    .header-main .logo-box {
        background: 0 0;
        width: 80px;
        min-height: auto;
        line-height: inherit;
    }
    .header-main .logo-box {
        background: white;
        width: 148px;
        min-height: 72px;
        line-height: 72px;
        float: left;
        text-align: center;
        position: relative;
    }
    .header-main .logo-box .logo-dsk {
        display: none;
    }
    .header-main .logo-box .logo-mbl {
        display: block;
    }
    .call-back, .header-main .book-btn, .header-main .toggle-icon {
        display: none;
    }
}

.header-main .toggle-icon {
    font-size: 28px;
    color: #fe235b;
    float: left;
    padding: 7px;
    margin: 14px 15px 1px 15px;
    cursor: pointer;
}
.header-main .logo-box .logo-mbl {
    display: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tbody, tfoot, th, thead, time, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

